.post {
  margin-top: 90px;
  margin-bottom: 50px;
  letter-spacing: 0.8px;
}

.post blockquote{
  border-left: 2px solid #ddd;
  padding-left: 7px;
  font-weight: 700;

  &:before{
    content: "";
  }

  h2{
    margin-top: 3rem;
  }
  
  h3{
    margin-top: 2rem;
   }
}


.postTitle{
  margin-bottom: 7rem;
}

.postDate{
  color: #f7f7f7;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 1.4rem;
}

.postImg{
  text-align: center;

  img{
    max-width: 80%;
  }

}