

.posts {
  list-style-type: none;
  margin-top: 3rem;
}

.post {
  padding: 1rem 1rem 0.5rem;
  line-height: 2;
  transition: 0.3s background ease-in-out;

  a{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    color: #f7f7f7;
  }
}

.postTitle{
  margin: 0;
}