.contact{
  overflow: hidden;

  label{
    display: block;
    margin: 25px 0 15px;
    font-size: 1.2rem;
  }

  input:not([type="submit"]), textarea{
    margin: 5px 0 10px;
    background: rgba(30, 26, 52, 0.33);    
    border: 1px solid rgba(47, 43, 71, 0.83);
    color: #fff;
    padding: 10px;
    outline: none;

    &::placeholder{
      font-weight: 400;
      color: rgba(255,255,255,0.45);
    }
  }
  
  textarea{
    resize: vertical;
    min-height: 100px;
    display: block;
    width: 100%;
  }

  input:not([type="submit"]){
    width: 47%;
    
    &:nth-child(even){
      margin-right: 6%;
    }
  }

  input[type="submit"]{
    margin-top: 20px;
  }

}

.note{
  color: #ddd;
  font-size: 0.9rem;
  a{
    font-weight: 600;
    text-decoration: underline;
  }
}

.msg{
  visibility: visible;
  height: 20px;
}


@media(max-width: 768px){
  .contact{
    input:not([type="submit"]){
      width: 100%;
    }
  }
}