.about{
  display: flex;
}

.info{
  flex: 2;
}

.name{
  font-size: 2.7rem;
  font-weight: 700;
  line-height: 1.2em;
}

.description{
  padding-top: 30px;
  font-weight: 700;
  font-size: 0.9rem;
  
}

.jobDescription{
  opacity: 0.58;
  max-width: 500px;
  padding-bottom: 20px;
}

.quote{
  position: relative;
  margin-left: 40px;
  margin-top: 65px;
  font-size: 1.3rem;
  z-index: 3;
  opacity: 0.7;
  white-space: nowrap;

  &:before{
    position: absolute;
    top: 144%;
    z-index: 1;
    left: -50px;
    content: open-quote;
    font-size: 175px;
    font-weight: 700;
    right: 100%;
    opacity: 0.1;
  }
}

.avatar{
  flex: 1;
  opacity: 0.05;
  position: relative;
  overflow: visible !important;
  
  img:not([aria-hidden="true"]){
    max-width: 100% !important;
    max-height: 100% !important;
    height: auto !important; 
    top: calc(50% - 60px) !important;
    margin: -50% 0 0 !important;
  }
}


@media all and (max-width: 768px){
  .quote:before{
    top: 205%
  }
  .avatar{
    display: none !important;
  }
}