.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px;
  background: rgba(14, 23, 42, 0.5);
  color: #ddd;

  a {
    text-decoration: none;
  }
}

@media all and (max-width: 768px) {
  .footer {
    left: 0;
  }
}
