.header{
  display: flex;
  flex-direction: column;
  background: rgba(10,17,42,0.8);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 18%;

  .toggleNav{
    display: none;
    align-items: center;
    font-size: 22px;
    span{
      color: #fff;
      margin-top: -2px;
      padding-right: 5px;
    }
  }
}

.imgWrapper{
  margin: 100px auto 10px;
  text-align: center;
  
  .img, img{
    text-align: center;
    margin: auto;
    max-width: 120px;
  }
}

.nav{

}

.nav > ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.navItem{
  height: 60px;
  margin: 0;
  display: flex;
  align-items: center;

  &:hover{
    background: rgba(242,242,242,0.03);
    background: linear-gradient(to bottom,  rgba(242,242,242,0.03) 0%,rgba(102,103,106,0.03) 100%);
  }

  a{
    text-decoration: none;
    color: #fff;
    outline: none;
    padding-left: 20%;
    height: 100%; 
    line-height: 3.3em;
    width: 100%;

    &:active{
      color: #ff4ba8;
    }
  }
}

:global .active-nav-link{
  position: relative;
  
  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #ff4ba8;
  }

  a{
    color: #ff4ba8;
  }
}





@media all and (max-width: 768px){
  .header{
    flex-wrap: wrap;
    position: static;
    height: auto;
    width: auto;
    background: rgba(11,17,36,0.9);

    .imgWrapper {
      margin: 8px auto 0;
      width: 57px;

      .img, img{
        max-width: 100% !important;
        max-height: 100% !important;
        margin: 0;
      }
    }

    .navItem{
      height: 40px;
      &:first-of-type{
        margin-top: 10px;
      }
      a{
        padding-left: 0;
      }
    }

    .toggleNav{
      display: flex;
      padding-left: 15px;
      margin: auto;
      padding: 12px;
      color: #fff;
      text-decoration: none;
    }

    .nav{
      max-height: 0;
      transition: all 1s 0s linear;
      overflow: hidden;
      flex: 1 1 100%;
      flex-direction: column;
      text-align: center;

      ul {
        flex-direction: column;
        line-height: 1.7em;
        
        a{
          flex-basis: 100%;
          justify-content: center;
          padding: 0;
        }
      }
    }
    
    :global .open{
      max-height: 600px;
    }
  }
}

@media all and (max-width: 991px) and (min-width: 768px){
  .navItem{
    font-size: 0.9rem;
  }
}