$main-color: #ff4ba8;
$secondary-color: #0b1124;

body{
  font-family: 'Raleway', sans-serif;
}

.layout{
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content{
  width: 82%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 70px;
  float: right;
  overflow: hidden;
  background: rgba(11,17,36,0.9);
}


// Helpful classes
:global{

  a{
    text-decoration: none;
    color: #fff;
  }

  .hidden{
    visibility: hidden;
  }

  .colored{
    color: $main-color;
  }

  .button{
    cursor: pointer;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    margin-left: 0;
    transition: all 0.5s ease-in-out;
    outline: none;
    background: rgba(11,17,36,0.3);
    color: #fff;
    border: 1px solid rgba(11,17,36,0.3);
    
    &:hover{
      border: 1px solid #fff;
      background: transparent;;
    }

    &.colored{
      background: $main-color;
      border-color: $main-color;
      
      &:hover{
        background: transparent;
      }
    }
  }

  section{
    margin-bottom: 100px;
  }

  .section-title{
    display: inline-block;
    font-size: 2rem;
    position: relative;
    margin-bottom: 65px;
    margin-top: 40px;
    font-weight: 400;

    &:after{
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 3px;
      margin-top: 10px;
      background: $main-color;
    }
  }
} 


@media all and (max-width: 768px){
  html{
    font-size: 85%;
  }
  
  .content{
    width: 100%;
  }
}