.layout{
  background: url('../../images/glassy-bg.jpg');
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  overflow: hidden;
}


.content{
  width: 82%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  float: right;
  overflow: hidden;
  background: rgba(11,17,36,0.6);
}