.testimonials{
}


.legend{
  margin: 40px auto auto;
  padding: 0 30px 15px 30px;
  max-width: 700px;
  letter-spacing: 1.1px;
  line-height: 1.4em;
}

.clientName{
  font-style: italic;
  color: #ccc
}

:global{
  .carousel.carousel-slider{
    padding-bottom: 55px;
  }
  .carousel .slide{
    background: transparent;
  }
}