.work{
}

.samples{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sample{
  flex-basis: 45%;
  text-align: center;
  margin-bottom: 25px;
}

.img{
  overflow: hidden;
  margin-bottom: 8px;
  height: 280px;  
    
  img{
    object-position: top !important;
  }

}

.sampleName{
  color: #d7d7d7;
}

.sampleLink{
  display: inline-block;
  padding: 8px 15px;

  img{
    margin-bottom: 0;
  }
}


@media all and (max-width: 1224px){
  .sample{
    flex-basis: 45%;
  }
}

@media all and (max-width: 768px){
  .sample{
    flex-basis: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) and (min-width: 500px){
  .img{
      height: 480px;  
  }
}

@media all and (max-width: 500px){
  .sample:last-of-type{
   .img{
     height: 200px;
     img{
      object-position: center center !important;
    } 
   }
  }
}

