.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid darkviolet;
}

.nav{

}

.navList{
  display: flex;
  flex-direction: column;
  list-style: none;
}

.navItem{
  
  
  a{
    text-decoration: none;
  }
}